body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom , 
    #51e2f5 ,  
    #9df9ef , 
    #E5EAF5 , 
    #ffa8b6 ,
    #a28089 );
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.settings, .options {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0;
    font-size: 14px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.output {
    margin-top: 20px;
}

.output input[type="text"] {
    width: 75%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#copy{
    margin-left: 5px;
    background-color: #3eee3b;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-weight: 600;
}
#copy:hover {
    background-color: #33cd30;
}